
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<p>
    Hallo mijn naam is Xander.
</p>

<p>
    Mijn e-mailadres is info@xanderwemmers.nl.
</p>

<p>
    Mijn telefoonnummer is 06-31943135.
</p>

