
@{
    ViewData["Title"] = "Countries";
}


@section PageScripts
{
    <script src="~/js/Home/countries.js"></script>
}

<h3>Countries</h3>

<input type="button" value="Get landen" onclick="getCountries();" />

<br /><br />

<div id="output">
    
</div>

